{% extends "base.html" %}

{% load thumbnail %}
{#% load taggit_extras %#}
{% load blog %}

{% block head %}
{% endblock %}

{% block content %}
    {#% get_tagcloud as tags for posts %#}
    <ul class="tagcloud">
{#% for tag in tags %}<li class="item s{{tag.weight|floatformat:0}}"><a href="{% url 'blog-by-tag' tag %}">{{tag}}</a></li>{% endfor %#}
    </ul>
    
    {% for post in posts %}
    <a href="{% url 'blog-post' post.id %}" title="{{ post.title }}"><h2>{{post.title}}</h2></a>
    <div class="blogpost_body">
        {{ post.text|creole }}
    </div>
    <div class="blogpost_footer">
        by {{post.user}}, {{post.published}}
        <ul class="taglist">
            {#% for tag in post.tags.all %}<li class="item"><a href="{% url 'blog-by-tag' tag %}">{{tag}}</a></li>{% endfor %#}
        </ul>
    </div>
    {% if not forloop.last %}
    <div class="hr"></div>
    {% endif %}
    {% endfor %}
    
    <div class="clear"></div>
{% endblock %}
